*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body ,html{
    width: 100%;
    height: 100%;
    font-family: static, serif;
}

body{
    color:hsl(235, 21%, 11%) ;
    background-color: white;
}

img{
    width: 100%;
}

.todo-container{
    background-image: url("../../public/images/_general/bg-desktop-light.jpg");
    background-size: clamp(80rem, calc(30rem + 300vw) , 100%);
    background-position: top;
    background-repeat: no-repeat;

    min-width: 200px;

}

.todo-list{
    max-width: 430px;
    min-width: 150px;
    padding-top: clamp(3rem, calc(2rem + 10vw) ,20rem);
}

.form-control.creat-input{
    border: none;
    color: hsl(234, 39%, 85%);
    display: block;
}

.form-control.creat-input::placeholder{
    color:hsl(234, 11%, 52%);
    font-size: clamp(6px, calc(4px + 1.8vw) ,15px );
}


.padding-y-li{
    padding-top:clamp(6px, calc(4px + 1.5vw) ,14px );
    padding-bottom:clamp(6px, calc(4px + 1.5vw) ,14px );
}
.padding-b-t-li{
    padding-top:clamp(1px, calc(0px + 1.5vw) ,10px );
    padding-bottom:clamp(1px, calc(0px + 1.5vw) ,10px );
}

.text-and-sun .to-do-box .card-title{
    font-weight: 700;
    font-size: clamp(16px, calc(14px + 1.8vw) ,30px );
}
.container .list-group-item{
    background-color:white;
    border: none;
    color: hsl(235, 24%, 19%);
    font-weight: 400;
    font-size: clamp(6px, calc(4px + 1.8vw) ,15px );
}
.container .list-group.creat-text .list-group-item .form-check-label{
    color: hsl(234, 11%, 52%);
}
.form-check-input{
    background-image: url(../../public/images/_general/icon-check.svg);
    padding: 6px;
}
.form-check-input{
    margin-top:2px;
}

.list-of-chosen .list-group-item{
    border-bottom: 1px solid hsl(233, 14%, 35%);
}
.list-of-chosen .list-group .list-group-item:first-child{
    color: hsl(234, 11%, 52%);
}

.list-of-chosen .list-group.plan .list-group-item:last-child{
    border: none;
}
.links-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(8px, calc(5px + 1.8vw) ,11px );
    color: hsl(233, 14%, 35%);
}

a{
    text-decoration: none;
    color: hsl(233, 14%, 35%);
}
a:hover{
    color: hsl(234, 39%, 85%);
}
.links-boxes .links-text-boxes .card-link.blue-color {
    color: hsl(220, 98%, 61%)
}
.links-boxes .left-time .card-text{
    color: hsl(236, 9%, 61%);
}
.Drag-Drop-text{
    color: hsl(234, 11%, 52%);
    text-align: center;
    font-weight: 400;
    font-size: clamp(9px, calc(5px + 1.5vw) ,12px );
    margin-bottom: 20px;
}

/*******************RESPONSIVE**********************/

@media(max-width:1440px) {
}

@media(max-width:992px) {
}

@media(max-width:768px) {

    .links-text-boxes{
        position: absolute;
        bottom: -70px;
        background-color: white;
        left: -1px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 4px 4px 4px 4px;
        width: 100%;
        text-align: center;
    }
    .links-text-boxes .card-link{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
    }
    .list-of-chosen{
        position: relative;
    }

    .Drag-Drop-text{
        margin-top: 55px;
        margin-bottom: 20px;
    }
    .form-check-input{
        margin-top:2px;
        padding:0;
    }

}

@media(max-width:575px) {
}



