*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body ,html{
    width: 100%;
    height: 100%;
    font-family: static, serif;
    overflow-x: hidden;
}

body{
    color:hsl(235, 21%, 11%) ;
    background-color: white;
}

img{
    width: 100%;
}

a{
    color: hsl(231, 9%, 48%);
    font-size: clamp(12px, calc(5px + 1.8vw) ,14px);
    text-decoration: none;
}

a:hover{
    color: black;
}

ul{
    color: hsl(220, 98%, 61%);
}

ul li .blue-color {
    color: hsl(220, 98%, 61%);
}

.todo-container{
    min-width: 280px;
}


.todo-list{
    max-width: 450px;
    min-width: 450px;
    padding-bottom: 20px;

    left: 50%;
    transform: translate(-50%,-35%);
}

.todo-list .text-and-sun .to-do-box .card-title{
    font-weight: 700;
    font-size: clamp(16px, calc(14px + 1.8vw) ,30px);
    color: white;
}

.add-todo-input .list-group .list-group-item {
    background-color:white;
    color: hsl(235, 24%, 19%);
    border:1px solid hsl(240, 7%, 81%);
}

.add-todo-input input:focus {
    outline: none;
    box-shadow: none;
}

.add-todo-input .list-group .list-group-item .form-control {
    background-color:white;
    border: none;
    color: hsl(235, 24%, 19%);
    font-weight: 400;

    padding-top:clamp(1px, calc(0px + 1.5vw) ,10px);
    padding-bottom:clamp(1px, calc(0px + 1.5vw) ,10px);

    display: block;
    font-size: clamp(6px, calc(6px + 2vw) ,16px);
}

.add-todo-input .list-group .list-group-item .form-control::placeholder {
    background-color:white;
    color: hsl(236, 9%, 61%);
}

.list-of-chosen .list-group .list-group-item{
    padding:clamp(6px, calc(4px + 1.5vw) ,14px);
    border:none;
    border-bottom: 1px solid hsl(240, 3%, 59%);

    font-size: clamp(6px, calc(6px + 2vw) ,16px);
    background-color:white;
    color: hsl(235, 24%, 19%);
}

.list-of-chosen .list-group .list-group-item .form-check-input{
    display: none;
}

.list-of-chosen .list-group .list-group-item .check-label {
    background-image: linear-gradient(to right, #68c5ff, #a674ef);
    border-radius: 50%;
    width: 22px;
    aspect-ratio: 1;
    display:inline-block;
    padding: 0;
    position: relative;
}


.list-of-chosen .list-group .list-group-item .check-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    aspect-ratio: 1;
    background-color:white;
    border-radius: 50%;
}

.list-of-chosen .list-group .list-group-item .form-check-input:checked + .check-label::before {
    background-image:
            url('../../public/images/_general/icon-check.svg'),
            linear-gradient(to right, #68c5ff, #a674ef);
    background-size: 60% auto, cover;
    background-position: center, 0;
    background-repeat: no-repeat, no-repeat;
    z-index: 20;
}

.list-of-chosen .list-group .list-group-item:first-child .todo-text{
    color: hsl(236, 9%, 61%);
}

.list-of-chosen .list-group .list-group-item:last-child{
    border: none;
}

.list-of-chosen .list-group .list-group-item .links-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(12px, calc(5px + 1.8vw) ,14px);
    color: hsl(233, 14%, 35%);
}

.list-of-chosen .list-group .list-group-item .links-boxes .left-time .card-text{
    color: hsl(236, 9%, 61%);
}


.todo-list .seperate-links ul{
    background-color:white;
    color: hsl(235, 24%, 19%);
}

.Drag-Drop-text{
    color: hsl(234, 11%, 52%);
    text-align: center;
    font-weight: 400;
    font-size: clamp(9px, calc(5px + 1.5vw) ,12px);
}

/*******************RESPONSIVE**********************/


@media(max-width:1440px) {
    .bg-image-container img{
        min-height: 450px;
        object-fit: cover;
    }
}

@media(max-width:992px) {
}

@media(max-width:768px) {
}

@media(max-width:575px) {
    .todo-list{
        min-width: 330px;
    }
}

@media(max-width:360px) {
    .todo-list{
        min-width: 260px;
    }
}

